# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules/
dist/
dist-ssr/
build/
*.tsbuildinfo

# Coverage
coverage/
.nyc_output/

# Cache
.npm
.eslintcache
.vite/

# Env config
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# IDEs and Editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp

# Misc
npm-crash.json
*~
